#reservationForm {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#reservationForm label {
    display: block;
    margin-bottom: 5px;
}

#reservationForm input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#reservationForm button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#reservationForm button:hover {
    background-color: #0056b3;
}

*{
    background-color:bisque;
}

h1{
    color: blueviolet;
}